NEXT_PUBLIC_BASE_URL=https://www.api.mehrabfamily.ir
NEXT_PUBLIC_SITE_URL=https://www.app.mehrabfamily.ir

# next/image remote patterns (used in next.config.ts)
IMAGE_PROTOCOL=https
IMAGE_HOSTNAME=www.api.mehrabfamily.ir
IMAGE_PORT=
IMAGE_PATHNAME=/media/**



