@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/peyda-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/peyda-extralight..ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/peyda-regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/peyda-medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/peyda-bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/peyda-extrabold.ttf") format("truetype");
  font-weight: 800;
}
