@font-face {
  font-family: "Dirooz";
  src: url("/fonts/diroz-font/Dirooz.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/Byekan/BYEKAN.woff") format("woff2-variations"),
    url("/fonts/Byekan/BYEKAN.woff2") format("woff2");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/PEYDA-THIN.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/PEYDA-EXTRALIGHT.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/PEYDA-REGULAR.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/PEYDA-MEDIUM.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/PEYDA-BOLD.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda/PEYDA-EXTRABOLD.ttf") format("truetype");
  font-weight: 800;
}
